<manifest xmlns:android="http://schemas.android.com/apk/res/android"

        package="com.github.syafiqq.reactivetest">

    <application
            android:allowBackup="true"
            android:label="@string/s_app_name"
            android:icon="@mipmap/app_ic_launcher"
            android:roundIcon="@mipmap/app_ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

    </application>

</manifest>
